@import url(main.css);
/* line 5, ../../compass/sass/community.scss */
body#community h5 {
  margin-top: 5px;
}
/* line 10, ../../compass/sass/community.scss */
body#community #content-main .module-container {
  overflow: hidden;
}
/* line 13, ../../compass/sass/community.scss */
body#community #content-main .module {
  display: inline;
  float: left;
  margin-right: 20px;
  width: 460px;
}
/* line 147, ../../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.1/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html body#community #content-main .module {
  overflow-x: hidden;
}
/* line 16, ../../compass/sass/community.scss */
body#community #content-main .module.last {
  margin-right: 0;
}
/* line 21, ../../compass/sass/community.scss */
body#community .hidden {
  display: none;
}
/* line 25, ../../compass/sass/community.scss */
body#community div.pagination {
  text-align: center;
  margin-top: 1em;
}
