@import url(main.css);
/* line 5, ../../compass/sass/community.scss */
body#community h5 {
  margin-top: 5px;
}
/* line 10, ../../compass/sass/community.scss */
body#community #content-main .module-container {
  overflow: hidden;
}
/* line 13, ../../compass/sass/community.scss */
body#community #content-main .module {
  width: 340px;
  float: left;
  display: inline;
}
/* line 18, ../../compass/sass/community.scss */
body#community #content-main .first {
  margin-right: 30px;
  clear: left;
}
/* line 22, ../../compass/sass/community.scss */
body#community #content-main .last {
  margin-right: 5px;
  clear: right;
}
/* line 28, ../../compass/sass/community.scss */
body#community .hidden {
  display: none;
}
/* line 32, ../../compass/sass/community.scss */
body#community div.pagination {
  text-align: center;
  margin-top: 1em;
}
