@import url(main.css);
/* line 8, ../../compass/sass/homepage.scss */
body#homepage p.more {
  clear: both;
  margin-top: 2em;
  font-family: "Trebuchet MS", sans-serif;
  font-size: 115%;
}
/* line 13, ../../compass/sass/homepage.scss */
body#homepage p.more a {
  text-decoration: none;
}
/* line 17, ../../compass/sass/homepage.scss */
body#homepage .tagline {
  margin-bottom: 4em;
}
/* line 19, ../../compass/sass/homepage.scss */
body#homepage .tagline h1 {
  margin-bottom: 0;
}
/* line 22, ../../compass/sass/homepage.scss */
body#homepage .tagline h2 {
  color: #999999;
  margin-top: 0;
  max-width: 450px;
}
/* line 29, ../../compass/sass/homepage.scss */
body#homepage #content-main .two-col {
  overflow: hidden;
}
/* line 31, ../../compass/sass/homepage.scss */
body#homepage #content-main .two-col .module {
  display: inline;
  float: left;
  margin-right: 20px;
  width: 460px;
}
/* line 147, /Library/Ruby/Gems/1.8/gems/compass-0.11.1/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html body#homepage #content-main .two-col .module {
  overflow-x: hidden;
}
/* line 34, ../../compass/sass/homepage.scss */
body#homepage #content-main .two-col .module.last {
  margin-right: 0;
}
/* line 38, ../../compass/sass/homepage.scss */
body#homepage #content-main .module {
  margin-top: 4em;
}
/* line 40, ../../compass/sass/homepage.scss */
body#homepage #content-main .module h3 {
  font-size: 150%;
  margin-top: 0;
  margin-bottom: 1em;
  clear: both;
}
/* line 47, ../../compass/sass/homepage.scss */
body#homepage #content-main .description {
  background-color: #e1ece2;
  border: 1px solid #487858;
  color: #487858;
  padding: 1em;
  font-size: 120%;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  -o-border-radius: 6px;
  -ms-border-radius: 6px;
  -khtml-border-radius: 6px;
  border-radius: 6px;
}
/* line 57, ../../compass/sass/homepage.scss */
body#homepage .sidebar .entry {
  margin-bottom: 2.2em;
}
/* line 59, ../../compass/sass/homepage.scss */
body#homepage .sidebar .entry p.date {
  margin-top: 0;
}
/* line 64, ../../compass/sass/homepage.scss */
body#homepage h4.item-title {
  margin-top: 0;
}
/* line 66, ../../compass/sass/homepage.scss */
body#homepage h4.item-title a {
  color: #487858;
  text-decoration: none;
}
/* line 70, ../../compass/sass/homepage.scss */
body#homepage h4.item-title a:hover {
  color: #ab5603;
  background: none;
}
/* line 75, ../../compass/sass/homepage.scss */
body#homepage ul.books {
  padding-left: 0;
  margin-right: 0;
  overflow: hidden;
}
/* line 79, ../../compass/sass/homepage.scss */
body#homepage ul.books li.book {
  display: inline;
  float: left;
  margin-right: 20px;
  width: 140px;
  list-style: none;
}
/* line 147, /Library/Ruby/Gems/1.8/gems/compass-0.11.1/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html body#homepage ul.books li.book {
  overflow-x: hidden;
}
/* line 82, ../../compass/sass/homepage.scss */
body#homepage ul.books li.book .cover-image {
  margin-bottom: .3em;
}
/* line 86, ../../compass/sass/homepage.scss */
body#homepage ul.books li.book.last {
  margin-right: 0;
}
/* line 90, ../../compass/sass/homepage.scss */
body#homepage ul.django-features {
  padding-left: 0;
  margin-right: 0;
  overflow: hidden;
}
/* line 94, ../../compass/sass/homepage.scss */
body#homepage ul.django-features li.django-feature {
  display: inline;
  float: left;
  margin-right: 20px;
  width: 220px;
  list-style: none;
  height: 110px;
  margin-bottom: 1.5em;
}
/* line 147, /Library/Ruby/Gems/1.8/gems/compass-0.11.1/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html body#homepage ul.django-features li.django-feature {
  overflow-x: hidden;
}
/* line 100, ../../compass/sass/homepage.scss */
body#homepage ul.django-features li.django-feature.last {
  margin-right: 0;
}
/* line 104, ../../compass/sass/homepage.scss */
body#homepage ul.websites {
  padding-left: 0;
  margin-right: 0;
  overflow: hidden;
}
/* line 108, ../../compass/sass/homepage.scss */
body#homepage ul.websites li.website {
  list-style: none;
  display: inline;
  float: left;
  margin-right: 20px;
  width: 220px;
  height: 180px;
  margin-bottom: 1.5em;
}
/* line 147, /Library/Ruby/Gems/1.8/gems/compass-0.11.1/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html body#homepage ul.websites li.website {
  overflow-x: hidden;
}
/* line 113, ../../compass/sass/homepage.scss */
body#homepage ul.websites li.website .image img {
  border: 1px solid #ccc;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  -o-border-radius: 6px;
  -ms-border-radius: 6px;
  -khtml-border-radius: 6px;
  border-radius: 6px;
  margin-bottom: .3em;
}
/* line 119, ../../compass/sass/homepage.scss */
body#homepage ul.websites li.website.last {
  margin-right: 0;
}
/* line 123, ../../compass/sass/homepage.scss */
body#homepage ul.community-sites {
  padding-left: 0;
}
/* line 125, ../../compass/sass/homepage.scss */
body#homepage ul.community-sites li {
  list-style-type: none;
}
