@page {
  size: US-Letter;
  margin: .75in .5in .75in 1in;
}

/* line 6, ../../compass/sass/print.scss */
body {
  font-size: 10pt;
  background: white;
  color: black;
}

/* Hide unneccessary content */
/* line 9, ../../compass/sass/print.scss */
#header, #content-extra, #documentation #content-secondary, #documentation #content-related, h2.deck {
  display: none;
}

/* Formatting and display fixes */
/* line 12, ../../compass/sass/print.scss */
#content {
  border-top: none;
}

/* line 13, ../../compass/sass/print.scss */
.literal-block {
  overflow: visible;
}

/* Typographic adjustments */
/* line 16, ../../compass/sass/print.scss */
#content-main p, #content-main h2, #content-main h3, #content-main h4 {
  margin-bottom: 1em;
}
