@page {
  size: US-Letter;
  margin: .75in .5in .75in 1in;
}

/* line 8, ../../compass/sass/print.scss */
body {
  font-size: 10pt;
  background: white;
  color: black;
}

/* Hide unneccessary content */
/* line 11, ../../compass/sass/print.scss */
#header, #content-extra, #documentation #content-secondary, #documentation #content-related, h2.deck {
  display: none;
}

/* Fix widths */
/* line 14, ../../compass/sass/print.scss */
#container {
  width: 7in;
}

/* line 15, ../../compass/sass/print.scss */
#subwrap, #content-main {
  width: 7in;
  float: none;
}

/* Formatting and display fixes */
/* line 18, ../../compass/sass/print.scss */
#content {
  border-top: none;
}

/* line 19, ../../compass/sass/print.scss */
.literal-block {
  overflow: visible;
}

/* Typographic adjustments */
/* line 22, ../../compass/sass/print.scss */
#content-main p, #content-main h2, #content-main h3, #content-main h4 {
  margin-bottom: 1em;
}
