/* line 1, ../../compass/sass/pygments.scss */
.c {
  color: #999988;
  font-style: italic;
}

/* Comment */
/* line 2, ../../compass/sass/pygments.scss */
.err {
  color: #a61717;
  background-color: #e3d2d2;
}

/* Error */
/* line 3, ../../compass/sass/pygments.scss */
.k {
  font-weight: bold;
}

/* Keyword */
/* line 4, ../../compass/sass/pygments.scss */
.o {
  font-weight: bold;
}

/* Operator */
/* line 5, ../../compass/sass/pygments.scss */
.cm {
  color: #999988;
  font-style: italic;
}

/* Comment.Multiline */
/* line 6, ../../compass/sass/pygments.scss */
.cp {
  color: #999999;
  font-weight: bold;
}

/* Comment.Preproc */
/* line 7, ../../compass/sass/pygments.scss */
.c1 {
  color: #999988;
  font-style: italic;
}

/* Comment.Single */
/* line 8, ../../compass/sass/pygments.scss */
.cs {
  color: #999999;
  font-weight: bold;
  font-style: italic;
}

/* Comment.Special */
/* line 9, ../../compass/sass/pygments.scss */
.gd {
  color: #000000;
  background-color: #ffdddd;
}

/* Generic.Deleted */
/* line 10, ../../compass/sass/pygments.scss */
.ge {
  font-style: italic;
}

/* Generic.Emph */
/* line 11, ../../compass/sass/pygments.scss */
.gr {
  color: #aa0000;
}

/* Generic.Error */
/* line 12, ../../compass/sass/pygments.scss */
.gh {
  color: #999999;
}

/* Generic.Heading */
/* line 13, ../../compass/sass/pygments.scss */
.gi {
  color: #000000;
  background-color: #ddffdd;
}

/* Generic.Inserted */
/* line 14, ../../compass/sass/pygments.scss */
.go {
  color: #888888;
}

/* Generic.Output */
/* line 15, ../../compass/sass/pygments.scss */
.gp {
  color: #555555;
}

/* Generic.Prompt */
/* line 16, ../../compass/sass/pygments.scss */
.gs {
  font-weight: bold;
}

/* Generic.Strong */
/* line 17, ../../compass/sass/pygments.scss */
.gu {
  color: #aaaaaa;
}

/* Generic.Subheading */
/* line 18, ../../compass/sass/pygments.scss */
.gt {
  color: #aa0000;
}

/* Generic.Traceback */
/* line 19, ../../compass/sass/pygments.scss */
.kc {
  font-weight: bold;
}

/* Keyword.Constant */
/* line 20, ../../compass/sass/pygments.scss */
.kd {
  font-weight: bold;
}

/* Keyword.Declaration */
/* line 21, ../../compass/sass/pygments.scss */
.kp {
  font-weight: bold;
}

/* Keyword.Pseudo */
/* line 22, ../../compass/sass/pygments.scss */
.kr {
  font-weight: bold;
}

/* Keyword.Reserved */
/* line 23, ../../compass/sass/pygments.scss */
.kt {
  color: #445588;
  font-weight: bold;
}

/* Keyword.Type */
/* line 24, ../../compass/sass/pygments.scss */
.m {
  color: #009999;
}

/* Literal.Number */
/* line 25, ../../compass/sass/pygments.scss */
.s {
  color: #bb8844;
}

/* Literal.String */
/* line 26, ../../compass/sass/pygments.scss */
.na {
  color: #008080;
}

/* Name.Attribute */
/* line 27, ../../compass/sass/pygments.scss */
.nb {
  color: #999999;
}

/* Name.Builtin */
/* line 28, ../../compass/sass/pygments.scss */
.nc {
  color: #445588;
  font-weight: bold;
}

/* Name.Class */
/* line 29, ../../compass/sass/pygments.scss */
.no {
  color: #008080;
}

/* Name.Constant */
/* line 30, ../../compass/sass/pygments.scss */
.ni {
  color: #800080;
}

/* Name.Entity */
/* line 31, ../../compass/sass/pygments.scss */
.ne {
  color: #990000;
  font-weight: bold;
}

/* Name.Exception */
/* line 32, ../../compass/sass/pygments.scss */
.nf {
  color: #990000;
  font-weight: bold;
}

/* Name.Function */
/* line 33, ../../compass/sass/pygments.scss */
.nn {
  color: #555555;
}

/* Name.Namespace */
/* line 34, ../../compass/sass/pygments.scss */
.nt {
  color: #000080;
}

/* Name.Tag */
/* line 35, ../../compass/sass/pygments.scss */
.nv {
  color: #008080;
}

/* Name.Variable */
/* line 36, ../../compass/sass/pygments.scss */
.ow {
  font-weight: bold;
}

/* Operator.Word */
/* line 37, ../../compass/sass/pygments.scss */
.w {
  color: #bbbbbb;
}

/* Text.Whitespace */
/* line 38, ../../compass/sass/pygments.scss */
.mf {
  color: #009999;
}

/* Literal.Number.Float */
/* line 39, ../../compass/sass/pygments.scss */
.mh {
  color: #009999;
}

/* Literal.Number.Hex */
/* line 40, ../../compass/sass/pygments.scss */
.mi {
  color: #009999;
}

/* Literal.Number.Integer */
/* line 41, ../../compass/sass/pygments.scss */
.mo {
  color: #009999;
}

/* Literal.Number.Oct */
/* line 42, ../../compass/sass/pygments.scss */
.sb {
  color: #bb8844;
}

/* Literal.String.Backtick */
/* line 43, ../../compass/sass/pygments.scss */
.sc {
  color: #bb8844;
}

/* Literal.String.Char */
/* line 44, ../../compass/sass/pygments.scss */
.sd {
  color: #bb8844;
}

/* Literal.String.Doc */
/* line 45, ../../compass/sass/pygments.scss */
.s2 {
  color: #bb8844;
}

/* Literal.String.Double */
/* line 46, ../../compass/sass/pygments.scss */
.se {
  color: #bb8844;
}

/* Literal.String.Escape */
/* line 47, ../../compass/sass/pygments.scss */
.sh {
  color: #bb8844;
}

/* Literal.String.Heredoc */
/* line 48, ../../compass/sass/pygments.scss */
.si {
  color: #bb8844;
}

/* Literal.String.Interpol */
/* line 49, ../../compass/sass/pygments.scss */
.sx {
  color: #bb8844;
}

/* Literal.String.Other */
/* line 50, ../../compass/sass/pygments.scss */
.sr {
  color: #808000;
}

/* Literal.String.Regex */
/* line 51, ../../compass/sass/pygments.scss */
.s1 {
  color: #bb8844;
}

/* Literal.String.Single */
/* line 52, ../../compass/sass/pygments.scss */
.ss {
  color: #bb8844;
}

/* Literal.String.Symbol */
/* line 53, ../../compass/sass/pygments.scss */
.bp {
  color: #999999;
}

/* Name.Builtin.Pseudo */
/* line 54, ../../compass/sass/pygments.scss */
.vc {
  color: #008080;
}

/* Name.Variable.Class */
/* line 55, ../../compass/sass/pygments.scss */
.vg {
  color: #008080;
}

/* Name.Variable.Global */
/* line 56, ../../compass/sass/pygments.scss */
.vi {
  color: #008080;
}

/* Name.Variable.Instance */
/* line 57, ../../compass/sass/pygments.scss */
.il {
  color: #009999;
}

/* Literal.Number.Integer.Long */
