{% extends "base_with_sidebar.html" %}

{% block sectionid %}documentation{% endblock %}

{% block title %}Documentation{% endblock %}

{% block content-related-title %}Search & Browse{% endblock %}

{% block extrajs %}
    {{ block.super }}
    <script type="text/javascript">
        $(document).ready(function() {
            // Make all images clickable. Clicking an image opens that image
            // on its own. This is especially useful when viewing the
            // documentation on a mobile device as the image might be shrinked.
            $('body#documentation #content-main img').live('click', function() {
                if ($(this).css('cursor') == 'pointer') {
                    /* View the image on its own */
                    window.location = $(this).attr('src');
                }
            });
        });
    </script>
{% endblock %}
