{% extends "base_2col.html" %}

{% block cssid %}homepage{% endblock %}

{% block sectionid %}homepage{% endblock %}

{% block content %}
<div class="tagline">
    <h1>The Web framework for perfectionists with deadlines</h1>
    <h2>Django makes it easier to build better websites and Web applications more quickly and with less code.</h2>
</div>

<p class="description">Django is a high-level Python Web framework that encourages rapid development and clean, pragmatic design. Developed four years ago by a fast-moving online-news operation, Django was designed to handle two challenges: the intensive deadlines of a newsroom and the stringent requirements of the experienced Web developers who wrote it. It lets you build high-performing, elegant Web applications quickly.</p>

<div class="module">
    <h3>What does Django have to offer?</h3>
    <div style="width:100%; height:200px; background-color:#dedede; border-radius: 6px;"></div>
    <p><a class="more" href="#">Learn more &rarr;</a></p>
</div>

<div class="module">
    <h3>Who uses Django?</h3>
    <div style="width:100%; height:200px; background-color:#dedede; border-radius: 6px;"></div>
    <p><a class="more" href="#">Find more &rarr;</a></p>
</div>

<div class="two-col">
    <div class="module">
        <h3>Django Books</h3>
        <ul class="books">
        {% load books_tags %}{% render_featured_books 3 %}
        </ul>
        <p><a class="more" href="{% url books %}">Read more &rarr;</a></p>
    </div>
    
    <div class="module">
        <h3>By the community</h3>
        <div style="width:100%; height:200px; background-color:#dedede; border-radius: 6px;"></div>
        <p><a class="more" href="#">Discover more &rarr;</a></p>
    </div>
</div>

        
<div id="content-secondary">
    <h2>Guide me</h2>
    
    <h3>You want to know about this?</h3>
    <p>Say some blurb about this and that here. Yadi yada, you get the point. <a href="#">Learn more &rarr;</a></p>
    
    <h3>You want to know about this?</h3>
    <p>Say some blurb about this and that here. Yadi yada, you get the point. <a href="#">Learn more &rarr;</a></p>
    
    <h3>You want to know about this?</h3>
    <p>Say some blurb about this and that here. Yadi yada, you get the point. <a href="#">Learn more &rarr;</a></p>
</div>
{% endblock %}

{% block content-related %}
<h2>Download</h2>
<ul class="linklist">
    <li class="button-download"><a href="/download/">Latest release: <strong>1.3</strong></a></li>
</ul>
<p>Open source, <a href="https://code.djangoproject.com/browser/django/trunk/LICENSE">BSD license</a></p>

<h2>From the blog</h2>
{% load weblog %}{% render_latest_blog_entries 4 %}
        
{% endblock %}
